name: "Test"
on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl:
          - "5.32"
          - "5.30"
          - "5.28"
          - "5.26"
          - "5.24"
          - "5.22"
          - "5.20"
          - "5.18"
          - "5.16"
          - "5.14"
          - "5.12"
          - "5.10"
        redis:
          - "6.0"
          - "5.0"
          - "4.0"
          - "3.2"
          - "3.0"
          - "2.8"

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up Perl ${{ matrix.perl }}
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}

      - name: Set up Redis ${{ matrix.redis }}
        uses: shogo82148/actions-setup-redis@v1
        with:
          redis-version: ${{ matrix.redis }}
          auto-start: false

      - name: Install
        run: cpanm --quiet --installdeps --notest .
      - run: perl Build.PL
      - run: prove -lv t

  test-macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        perl:
          - "5.32"
          - "5.30"
          - "5.28"
          - "5.26"
          - "5.24"
          - "5.22"
          - "5.20"
          - "5.18"
          - "5.16"
          - "5.14"
          - "5.12"
          - "5.10"
        redis:
          - "6.0"
          - "5.0"
          - "4.0"
          - "3.2"
          - "3.0"
          - "2.8"

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up Perl ${{ matrix.perl }}
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}

      - name: Set up Redis ${{ matrix.redis }}
        uses: shogo82148/actions-setup-redis@v1
        with:
          redis-version: ${{ matrix.redis }}
          auto-start: false

      - name: Install
        run: cpanm --quiet --installdeps --notest .
      - run: perl Build.PL
      - run: prove -lv t

  author:
    name: author test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up Perl 5
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: "5"
      - name: Install
        run: |
          cpanm --quiet --with-develop --installdeps --notest .
          cpanm --quiet Test::Perl::Critic
      - run: perl Build.PL
      - run: prove -lv xt
